{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-indent": "off",
    "react/jsx-filename-extension": "off",
    "indent": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "react/jsx-indent-props": "off",
    "react/require-default-props": "off",
    "max-len": "off",
    "react/jsx-one-expression-per-line": "off",
    "object-curly-newline": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "new-parens": "off",
    "react/jsx-curly-newline": "off",
    "camelcase": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "no-unused-vars": "warn",
    "consistent-return": "off",
    "no-nested-ternary": "warn",
    "operator-linebreak": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-unused-expressions": "off",
    "react/no-unescaped-entities": "off",
    "no-param-reassign": "off",
    "no-confusing-arrow": "off",
    "max-classes-per-file": "off",
    "no-useless-constructor": "warn",
    "no-empty-function": "warn",
    "class-methods-use-this": "off",
    "react/prop-types": "off"
  }
}
